/*
@font-face {
  font-family: 'Oswald';
  font-family: 'proxima_nova';
  src: url(/assets/proxima_nova_regular-73e363f14d385c69d73a843436763be2eefdda5dc7e0fddf95c398b6b5eb2a5e.ttf);
  src: url(/fonts/Oswald-Regular.ttf);
}
*/
/* line 8, C:/Sites/bottest/app/assets/stylesheets/style.scss */
:root {
  --primary-color: #25c16fde;
  --secondary-color: #1f2945;
  --third-color: #5178fc;
  --light-bg-color: #f5f5f5;
  --heading-font-size: 33px;
  --sub-heading-font-size: 22px;
  --font-size-common: 14px;
  --font-size-common-small: 13px;
}

/* line 18, C:/Sites/bottest/app/assets/stylesheets/style.scss */
body {
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  color: #4d4d4d;
  background: transparent;
}

/* line 24, C:/Sites/bottest/app/assets/stylesheets/style.scss */
h1,
h2,
h3,
h5 {
  font-weight: 400;
  line-height: 1.3;
}

/* line 31, C:/Sites/bottest/app/assets/stylesheets/style.scss */
p {
  line-height: 1.75;
  margin: 10px 0;
  font-size: 1.1em;
}

/* line 36, C:/Sites/bottest/app/assets/stylesheets/style.scss */
a {
  color: #303641;
  text-decoration: none !important;
  outline: none!important;
}
button{
	outline: none!important;
}
/* line 40, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.bt-logo-light {
  width: 170px;
  background-size: 165px 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-image: url("../../img/home/logo-light.png");
  margin: auto 0;
}

/* line 48, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.bt-logo-light-login {
  width: 170px;
  background-size: 165px 50px;
  height: 50px;
  background-repeat: no-repeat;
  margin: auto 0;
}

/* line 56, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.bt-logo-light-sign-up {
  width: 170px;
  background-size: 165px 50px;
  height: 50px;
  background-repeat: no-repeat;
  margin: auto 40px;
}

/* line 64, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.header-light-bg .dropbtn + .fa {
  color: #FFF;
}

/* line 67, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.header-light-bg {
  color: inherit;
}

/* line 70, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.row.no-margin {
  margin: 0;
  border-top: 1px solid #3333;
}

/* line 74, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.footer-container {
  background: url(../../img/home/landing-background-bf9440874b98393098aa7972b95f95c119778fb38347db94093c3a49656c6d58.jpg) center;
}

/* line 77, C:/Sites/bottest/app/assets/stylesheets/style.scss */
/* .footer-container .info-footer {
  padding-bottom: 50px;
  padding-top: 30px;
} */

/* line 86, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.side_wrap {
  display: none;
}

/* line 89, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.btn {
  border-radius: 2px;
  font-size: 14px;
}

/* line 99, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.run-test-device {
  background: url(../../img/home/landing-background-bf9440874b98393098aa7972b95f95c119778fb38347db94093c3a49656c6d58.jpg) center;
  border-bottom: 1px solid #3333;
}

/* line 103, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.why-choose .line-bottom {
  margin: 30px auto 0;
  background-color: #FF6700;
  width: 150px;
  height: 3px;
  display: flex;
}

/* line 110, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.run-test-device .line-bottom {
  margin: 0 auto 40px;
  background-color: #FF6700;
  width: 150px;
  height: 3px;
  display: flex;
}

/* line 117, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.platform-container {
  padding: 50px 0;
  background: url(../../img/home/landing-background-bf9440874b98393098aa7972b95f95c119778fb38347db94093c3a49656c6d58.jpg) center;
}

/* line 121, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.platform-container .section-heading {
  padding: 15px 0;
}

/* line 124, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.platform-container .section-title {
  color: #414761;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 10px;
  text-align: center;
  letter-spacing: 1px;
}

/* line 133, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.platform-container .design-arrow {
  width: 1px;
  height: 50px;
  background: #ddd;
  position: relative;
  margin: 10px auto;
}

/* line 140, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.design-arrow:after {
  content: "";
  display: block;
  position: absolute;
  width: 11px;
  height: 11px;
  border: 2px solid #ff6400;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  top: 100%;
  left: -5px;
}

/* line 155, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.platform-container .platform-content-side .feature-item {
  margin: 0 auto 40px;
  max-width: 300px;
  text-align: center;
}

/* line 160, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.platform-content-side .feature-item .wrap-feature-icon {
  width: 110px;
  height: 110px;
  border: 1px solid #eff2f7;
  background: #b2b5b8;
  padding: 10px;
  margin: 0 auto 50px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/* line 177, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.platform-content-side .feature-item .wrap-feature-icon .feature-icon {
  height: 88px;
  width: 88px;
  border: 1px solid #eff2f7;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background: #FFF;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/* line 192, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.platform-content-side .feature-item .wrap-feature-icon .feature-icon i {
  line-height: 88px;
  font-size: 50px;
  color: #666;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/* line 201, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.platform-content-side .feature-item:hover .feature-icon,
.platform-content-side .feature-item:hover .wrap-feature-icon {
  background: #25c16fde;
  border-color: #25c16fde;
}

/* line 206, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.feature-item:hover .wrap-feature-icon .feature-icon i {
  color: #fff;
}

/* line 209, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.feature-item:hover .wrap-feature-icon .feature-icon {
  background: #25c16fde;
  border-color: #fff;
}

/* line 213, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.platform-content-side .feature-item .title {
  color: #333;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

/* line 219, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.platform-content-side .feature-item .title:after {
  content: '';
  display: block;
  margin: 20px auto;
  height: 2px;
  width: 50px;
  background: #ff6400;
}

/* line 227, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.platform-content-side .feature-item .text {
  font-size: 14px;
  line-height: 26px;
  margin-bottom: 5px;
  min-height: 104px;
}

/* line 233, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.product-details-respon {
  margin-bottom: 120px;
}

/* line 236, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.product-details-respon .side-content {
  width: 100%;
  padding: 20px;
  text-align: center;
}

/* line 241, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.product-details-respon .img-side {
  width: 100%;
  background-repeat: no-repeat;
  display: unset;
  margin: auto;
  height: 100%;
}

/* line 248, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.product-details-respon .img-side img {
  max-width: 100%;
  height: 100%;
  display: block;
}

/* line 253, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.product-details-respon .side-content .content-up {
  height: auto;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

/* line 259, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.product-details-respon .side-content .content-up img {
  width: 80px;
  margin: 0 auto;
}

/* line 263, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.product-details-respon .side-content .content-up h3 {
  font-size: 20px;
  font-weight: 600;
}

/* line 267, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.product-details-respon .side-content .content-up h5 {
  line-height: 26px;
}

/* line 271, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.content-chat-us {
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  background: url(../../img/home/banner-chat-01-d8fbf505e0aba7caeb0ae0554d60dabb01e493a472e7b683fe973330bf181ea2.png) center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

/* line 283, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.content-chat-us .chat-content-img {
  justify-content: center;
  display: flex;
}

/* line 287, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.content-chat-us .chat-content-img img {
  max-width: 100%;
  height: 100%;
  display: block;
}

/* line 292, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.content-chat-us .chat-content-side h1 {
  color: #fff;
  font-size: 30px;
  line-height: 34px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

/* line 300, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.content-chat-us .line-bottom {
  margin: 30px auto;
  background-color: #FF6700;
  width: 150px;
  height: 3px;
  display: flex;
}

/* line 307, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.content-chat-us .chat-content-side {
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 90px 0;
}

/* line 315, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.content-chat-us .chat-content-side p {
  color: #fff;
  margin: 0;
}

/* line 319, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.pr10 {
  padding-right: 10px;
}

/* line 322, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.btn-primary {
  background-color: #25c16fde;
  border-color: #25c16fde;
}

/* line 326, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.btn-primary:hover {
  background-color: #1dcb8b;
  border-color: #1dcb8b;
}

/* line 330, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.btn-primary:active:focus,
.btn-primary:active:hover,
.btn-primary:focus {
  background-color: #1dcb8b;
  border-color: #1dcb8b;
}

/* line 336, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.section-container {
  padding: 80px 0;
}

/* line 339, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.dropdown-content a:hover {
  background-color: #1dcb8b;
  color: #FFF;
}

/* line 343, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.navbar.navbar-default {
  background: transparent;
  border: 1px solid transparent;
}

/* line 347, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.navbar {
  margin-bottom: 0;
}

/* line 350, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.navbar.navbar-default.navbar-fixed-top {
  min-height: auto;
  background: #313030a1 !important;
  border: 1px solid transparent;
  box-shadow: none;
  border-bottom: 1px solid #fff;
}

/* line 357, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.navbar-brand {
  padding: 15px;
  display: inline-table;
}

/* line 361, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.navbar-note {
  padding-top: 0;
  display: inline-block;
  text-decoration: none;
  font-size: 13px;
  font-weight: 600;
  font-family: 'Oswald', sans-serif;
  margin: auto 0;
}

/* line 370, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.navbar-note:hover {
  text-decoration: none;
}

/* line 373, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.navbar-note::before {
  background: #fff none repeat scroll 0 0;
  content: "";
  height: 34px;
  margin-left: -15px;
  margin-top: 0;
  position: absolute;
  width: 1px;
}

/* line 382, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.header-light-bg .navbar-note::before {
  background: #fff none repeat scroll 0 0;
}

/* line 385, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.navbar-default .navbar-nav > li > a {
  font-size: 13px;
}

/* line 388, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: #1dcb8b;
}

/* line 392, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.header-light-bg .dropbtn,
.header-light-bg .dropbtn a,
.navbar-default .navbar-nav > li > a {
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
}

/* line 400, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.dropbtn:hover,
.dropbtn:hover + i {
  color: #1dcb8b;
}

/* line 404, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  color: #1dcb8b;
  background-color: transparent;
}

/* line 410, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.header-light-bg .navbar-note {
  color: #fff;
}

/* line 413, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.play-video {
  visibility: hidden;
}

/* line 417, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.sidenav {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 78px;
  right: 0;
  background-color: #eff9f7;
  overflow-y: auto;
  transition: 0.5s;
}

/* line 428, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.sidenav a,
.sidenav span {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  display: block;
  transition: 0.3s;
}

/* line 436, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.sidenav li span {
  display: inline-block;
}

/* line 439, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.sidenav .closebtn {
  position: fixed;
  top: -3px;
  right: 14px;
  font-size: 45px;
  display: none;
}

/* line 446, C:/Sites/bottest/app/assets/stylesheets/style.scss */
#bars {
  display: none;
  right: 25px;
  position: absolute;
  top: 25px;
}

/* line 452, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.home-page-banner {
  background-image: -webkit-linear-gradient(to bottom, rgba(37, 193, 111, 0.05), transparent);
  background-image: linear-gradient(to bottom, rgba(37, 193, 111, 0.05), transparent);
  background-image: -moz-linear-gradient(to bottom, rgba(37, 193, 111, 0.05), transparent);
  width: 100%;
  min-height: 70vh;
  padding: 100px 0;
  overflow: hidden;
  background: url(../../img/home/bgBanner-01-f5fe360001c36aad5e3663fd7a0c4ac090ae7774a2ff796b903625bb3a2bc76d.png) center;
  color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* line 466, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.info-bot {
  margin: auto 0;
}

/* line 469, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.home-page-banner .container {
  display: flex;
  height: 100%;
}

/* line 473, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.home-page-banner > .container > div > .banner-title {
  padding-top: 225px;
  letter-spacing: normal;
  font-size: 35px;
  font-family: 'Oswald', sans-serif;
}

/* line 479, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.banner-heading,
.home-page-banner > .container > div > .banner-heading {
  margin-bottom: 40px;
  letter-spacing: normal;
  font-size: 16px;
  line-height: 1.4em;
  padding-top: unset !important;
}

/* line 487, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.home-page-banner > .container > div > p {
  font-size: 13px;
  font-weight: 400;
  max-width: 100%;
  margin: 25px 0;
}

/* line 493, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.home-banner_padding {
  padding-top: 225px;
}

/* line 496, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.btn-oval {
  border-radius: 30px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}

/* line 500, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.signup_oval_btn {
  border: 2px solid #25c16fde;
  font-size: 17px;
  padding: 5px 30px;
}

/* line 505, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.demo_btn {
  padding: 5px 30px;
  font-size: 17px;
  border: 2px solid #1dcb8b;
  margin-left: 15px;
  color: #1dcb8b;
}

/* line 512, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.demo_btn:hover {
  background-color: #1dcb8b;
  color: #fff;
  transition: all 0.2s linear;
}

/* line 517, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.features {
  text-align: center;
  padding: 30px 0;
}

/* line 521, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.banner_padding {
  padding-top: 0px;
  margin: auto 0;
}

/* line 525, C:/Sites/bottest/app/assets/stylesheets/style.scss */
video {
  width: 100%;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1), 2px -2px 2px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

/* line 530, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.nomargin {
  margin: 0 !important;
}

/* line 533, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.play-video {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #fff;
  box-shadow: 0 0 18px 0 #c6d2da;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s;
  outline: 0;
  margin: auto 10px;
}

/* line 548, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.play-video:hover {
  box-shadow: 0 0 18px 0 #1dcb8b;
}

/* line 551, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.play-video:before {
  content: "";
  width: 0;
  height: 0;
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  border-left: 13px solid #1dcb8b;
  position: relative;
  left: 1px;
}

/* line 561, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.right_divider {
  border-right: 1px solid rgba(37, 193, 111, 0.3);
}

/* line 564, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.right_divider h3 {
  margin-top: 0;
}

/* line 567, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.information_notifier {
  padding: 0;
  max-width: 100%;
}

/* line 571, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.notification {
  border-radius: 4px;
  background-color: #25c16fde;
  width: 100%;
  padding: 9px 10px;
  border: 1px solid #25c16f3b;
  font-size: 14px;
}


/* line 598, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.features-container {
  text-align: center;
  padding: 50px 0 125px;
}

/* line 602, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.features-container .features-center-content h3 {
  margin: 25px 0;
}

/* line 606, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.features-center-content {
  margin: 100px 0;
  text-align: initial;
  margin: auto;
}

/* line 611, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.l-page {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/* line 616, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.footer-copyrights {
  text-align: center;
  padding: 10px 8px;
  background-color: #f1f1f1;
  border-top: solid 1px #e6e6e6;
  color: #666;
  overflow: hidden;
}

/* line 624, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.l-page {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/* line 629, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.copyrights-nav {
  max-height: inherit;
  line-height: 0;
  background-color: transparent;
}

/* line 634, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.footer-nav {
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #fff;
  color: #666;
  transition: max-height 0.5s ease;
  padding: 10px 0;
}

/* line 646, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.footer-copyrights a,
.footer-copyrights p {
  font-size: 12px;
  line-height: 1.61;
}

/* line 651, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.footer-copyrights-text {
  margin: 0;
}

/* line 654, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.copyrights-nav a {
  display: inline-block;
  height: auto;
  padding: 0;
}

/* line 664, C:/Sites/bottest/app/assets/stylesheets/style.scss */
ul.footer-nav.support-nav.navigation li {
  text-align: center;
}

/* line 667, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.footer-nav.support-nav a {
  font-size: 13px;
}

/* line 670, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.footer-nav a {
  color: inherit;
}

/* line 673, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.footer-nav a,
.footer-nav-title {
  display: block;
  height: 40px;
  padding: 0 15px;
  line-height: 40px;
}

/* line 680, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.copyrights-nav a::after {
  display: inline-block;
  margin: 0 10px;
}

/* line 685, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.footer-salessupport [class^=col] {
  padding: 0;
}

/* line 688, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.footer-nav-title {
  font-weight: bold;
  position: relative;
  margin: 0;
  letter-spacing: 0.5px;
  border: 1px solid #e6e6e6;
  color: #414761;
}

/* line 696, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.support-nav a > i,
.support-nav a > span {
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
}

/* line 702, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.footer-nav li {
  padding-left: 0;
  position: relative;
}

/* line 706, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.footer-drop {
  position: absolute;
  right: 20px;
  display: block;
}

/* line 712, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.show {
  max-height: 200px;
}

/* line 715, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.footer-copyrights {
  text-align: center;
  padding: 10px 8px;
  background-color: #f1f1f1;
  border: solid 1px #e6e6e6;
  color: #666;
  overflow: hidden;
}

/* line 723, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.caps-heading-12 {
  text-transform: uppercase;
  letter-spacing: 0.5px;
  justify-content: center;
  flex-direction: column;
  display: flex;
}

/* line 730, C:/Sites/bottest/app/assets/stylesheets/style.scss */
[class*=' fa-'] {
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 740, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.social-connect-nav > li {
  display: inline-block;
  font-size: 25px;
  padding: 0;
  margin-right: 10px;
}

/* line 746, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.social-connect-nav > li > a {
  font-size: 25px;
}

@media only screen and (min-width: 60rem) {
  /* line 750, C:/Sites/bottest/app/assets/stylesheets/style.scss */
  .footer-copyrights {
    padding: 15px 0;
    text-align: inherit;
  }

  /* line 754, C:/Sites/bottest/app/assets/stylesheets/style.scss */
  .l-page {
    margin-left: auto;
    margin-right: auto;
    padding-right: 25px;
    padding-left: 25px;
    max-width: 1140px;
  }

  /* line 761, C:/Sites/bottest/app/assets/stylesheets/style.scss */
  .footer-copyrights {
    padding: 15px 0;
    text-align: inherit;
  }

  /* line 765, C:/Sites/bottest/app/assets/stylesheets/style.scss */
  .footer-copyrights-text {
    float: right;
    margin-top: 4px;
  }

  /* line 769, C:/Sites/bottest/app/assets/stylesheets/style.scss */
  .copyrights-nav {
    display: inline-block;
    line-height: inherit;
    float: left;
    margin-bottom: 0;
  }
}
@media (min-width: 960px) {
  /* line 777, C:/Sites/bottest/app/assets/stylesheets/style.scss */
  .clearfix-lg {
    clear: both;
  }
}
@media only screen and (min-width: 48rem) {
  /* line 782, C:/Sites/bottest/app/assets/stylesheets/style.scss */
  .footer-copyrights {
    padding: 15px;
  }

  /* line 785, C:/Sites/bottest/app/assets/stylesheets/style.scss */
  .footer-salessupport {
    text-align: center;
  }

  /* line 788, C:/Sites/bottest/app/assets/stylesheets/style.scss */
  .footer-salessupport .seperator-line {
    border-top: 1px solid #e6e6e6;
  }

  /* line 791, C:/Sites/bottest/app/assets/stylesheets/style.scss */
  .footer-nav a {
    line-height: 1.4;
  }

  /* line 794, C:/Sites/bottest/app/assets/stylesheets/style.scss */
  .footer-copyrights a,
  .footer-copyrights p {
    font-size: 13px;
    line-height: 1.71;
  }

  /* line 799, C:/Sites/bottest/app/assets/stylesheets/style.scss */
  .footer-nav a,
  .footer-nav-title {
    display: inline-block;
    height: inherit;
    padding: 0;
  }

  /* line 805, C:/Sites/bottest/app/assets/stylesheets/style.scss */
  .footer-salessupport [class^=col-md] {
    padding-top: 15px;
    padding-bottom: 16px;
  }

  /* line 809, C:/Sites/bottest/app/assets/stylesheets/style.scss */
  .footer-salessupport .footer-nav-title {
    margin: 0 25px 0 0;
    line-height: 1.25;
  }

  /* line 813, C:/Sites/bottest/app/assets/stylesheets/style.scss */
  .footer-nav-title,
  .support-nav {
    display: inline-block;
    vertical-align: middle;
  }

  /* line 818, C:/Sites/bottest/app/assets/stylesheets/style.scss */
  .footer-nav-title {
    margin: 30px 0 6px;
    line-height: 1.33;
    background-color: inherit;
    border: 0;
  }

  /* line 824, C:/Sites/bottest/app/assets/stylesheets/style.scss */
  .footer-nav a,
  .footer-nav-title {
    display: inline-block;
    height: inherit;
    padding: 0;
  }

  /* line 830, C:/Sites/bottest/app/assets/stylesheets/style.scss */
  .footer-nav {
    background-color: transparent;
  }

  /* line 834, C:/Sites/bottest/app/assets/stylesheets/style.scss */
  .support-nav li {
    float: left;
    line-height: 1.25;
  }

  /* line 838, C:/Sites/bottest/app/assets/stylesheets/style.scss */
  .footer-nav li {
    line-height: 2;
  }

  /* line 841, C:/Sites/bottest/app/assets/stylesheets/style.scss */
  .support-nav a > span {
    margin-right: 25px;
  }

  /* line 844, C:/Sites/bottest/app/assets/stylesheets/style.scss */
  .footer-drop {
    display: none !important;
  }

  /* line 847, C:/Sites/bottest/app/assets/stylesheets/style.scss */
  .footer-copyrights {
    padding: 15px;
  }
}
@media only screen and (max-width: 768px) {
  /* line 855, C:/Sites/bottest/app/assets/stylesheets/style.scss */
  .information_notifier {
    top: 150px;
  }

  /* line 866, C:/Sites/bottest/app/assets/stylesheets/style.scss */
  p > .play-video {
    width: 40px;
    height: 40px;
    margin: auto 10px;
  }

  /* line 871, C:/Sites/bottest/app/assets/stylesheets/style.scss */
  p > .play-video:before {
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 16px solid #1dcb8b;
    left: 2px;
  }

  /* line 877, C:/Sites/bottest/app/assets/stylesheets/style.scss */
  #bars {
    display: block;
  }

  /* line 883, C:/Sites/bottest/app/assets/stylesheets/style.scss */
  .features {
    padding: 20px 0;
  }

  /* line 886, C:/Sites/bottest/app/assets/stylesheets/style.scss */
  .mobile-pb15 {
    padding-bottom: 15px !important;
  }

  /* line 889, C:/Sites/bottest/app/assets/stylesheets/style.scss */
  .btn {
    font-size: 20px;
    padding: 5px 45px;
    line-height: 2;
  }

  /* line 894, C:/Sites/bottest/app/assets/stylesheets/style.scss */
  .signup_oval_btn {
    padding: 0 45px;
  }

  /* line 897, C:/Sites/bottest/app/assets/stylesheets/style.scss */
  .demo_btn {
    margin: 25px auto;
  }

  /* line 900, C:/Sites/bottest/app/assets/stylesheets/style.scss */
  .sidenav .dropdown .dropdown-content {
    height: 0;
    background-color: #eff9f7;
    overflow-x: hidden;
    transition: 0.5s;
    width: 163%;
    display: block;
    left: 43px;
    box-shadow: none;
    top: 30px;
  }

  /* line 911, C:/Sites/bottest/app/assets/stylesheets/style.scss */
  .dropbtn {
    text-transform: unset !important;
  }

  /* line 917, C:/Sites/bottest/app/assets/stylesheets/style.scss */
  .right_divider {
    border-right: 0;
  }

  /* line 920, C:/Sites/bottest/app/assets/stylesheets/style.scss */
  .mobile_displayNone {
    display: none;
  }
}
@media (min-width: 768px) {
  /* line 925, C:/Sites/bottest/app/assets/stylesheets/style.scss */


  /* line 928, C:/Sites/bottest/app/assets/stylesheets/style.scss */
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }

  /* line 932, C:/Sites/bottest/app/assets/stylesheets/style.scss */
  .navbar-nav > li > a {
    padding-top: 33px;
  }

  /* line 935, C:/Sites/bottest/app/assets/stylesheets/style.scss */
  .navbar-nav > li:last-child > a {
    padding-top: 26px;
  }

  /* line 938, C:/Sites/bottest/app/assets/stylesheets/style.scss */
  .navbar-right {
    margin-right: 0;
  }
}
@media screen and (max-width: 768px) {
  /* line 943, C:/Sites/bottest/app/assets/stylesheets/style.scss */
  .navbar-header {
    width: 100%;
  }

  /* line 946, C:/Sites/bottest/app/assets/stylesheets/style.scss */
  .navbar-brand {
    padding: 15px 15px 15px 0;
  }

  /* line 949, C:/Sites/bottest/app/assets/stylesheets/style.scss */
  .navbar-note {
    line-height: 1em;
    margin-left: 5px;
  }

  /* line 953, C:/Sites/bottest/app/assets/stylesheets/style.scss */
  .navbar-note::before {
    height: 25px;
    margin-left: -8px;
    margin-top: 0;
  }

  /* line 958, C:/Sites/bottest/app/assets/stylesheets/style.scss */
  #menu-bar {
    background-color: #fff;
    display: none !important;
  }

  /* line 962, C:/Sites/bottest/app/assets/stylesheets/style.scss */
  .navbar-default .navbar-nav > li > a {
    color: #303641 !important;
  }

  /* line 965, C:/Sites/bottest/app/assets/stylesheets/style.scss */
  #menu-bar > ul > li > button {
    margin: 5px 15px;
  }

  /* line 971, C:/Sites/bottest/app/assets/stylesheets/style.scss */
  .home-banner_padding {
    padding-top: 0;
  }

  /* line 974, C:/Sites/bottest/app/assets/stylesheets/style.scss */
  .banner_padding {
    padding-top: 120px;
  }

  /* line 977, C:/Sites/bottest/app/assets/stylesheets/style.scss */
  .home-page-banner > .container > div > .banner-title {
    padding-top: 140px;
  }

  /* line 980, C:/Sites/bottest/app/assets/stylesheets/style.scss */
  .home-page-banner > .container > div > .banner-heading {
    text-align: center;
  }

  /* line 983, C:/Sites/bottest/app/assets/stylesheets/style.scss */
  li.dropdown {
    display: block;
  }
}
@media screen and (max-width: 650px) {
  /* line 988, C:/Sites/bottest/app/assets/stylesheets/style.scss */
  .home-page-banner > .container > div > .banner-title,
  .home-page-banner > .container > div > p {
    text-align: center;
  }
}
@media (min-width: 1200px) {
  /* line 994, C:/Sites/bottest/app/assets/stylesheets/style.scss */
  .container {
    width: 1100px;
  }
}
/* line 998, C:/Sites/bottest/app/assets/stylesheets/style.scss */
html {
  font-size: 16px;
}

/* line 1001, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.l-page {
  margin-left: auto;
  margin-right: auto;
  padding-right: 25px;
  padding-left: 25px;
  max-width: 1140px;
  width: 100%;
}

/* line 1009, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.clearfix-lg {
  clear: both;
}

/* line 1012, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.clearfix-lg::before {
  clear: both;
  content: " ";
  display: table;
}

/* line 1017, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.dropdown {
  position: relative;
  display: inline-block;
}

/* line 1021, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.dropdown-content::before {
  content: '';
  position: absolute;
  width: 14px;
  height: 0;
  border: 7px solid transparent;
  border-bottom: 7px solid #fff;
  top: -14px;
  left: 45%;
}

/* line 1031, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 0;
  top: 84px;
  left: -50px;
}

/* line 1043, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.dropdown-content li,
.sidenav li {
  list-style: none;
}

/* line 1047, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.dropdown-content li a {
  padding: 12px 20px;
  display: block;
  text-decoration: none;
  cursor: pointer;
}

/* line 1053, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.dropdown-content li:first-child a:hover {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

/* line 1057, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.dropdown-content li:last-child a:hover {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* line 1061, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.dropdown-content li:first-child a:hover:parent:parent::before {
  border-bottom-color: #1dcb8b;
}

/* line 1064, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.dropdown:hover .dropdown-content {
  display: block;
}

/* line 1067, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.btn-all-features {
  color: #25c16f;
  background-color: rgba(37, 193, 111, 0.1);
  padding: 6px 25px;
  border-radius: 3px;
}

/* line 1073, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.dropbtn {
  padding: 33px 0 30px 15px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  cursor: pointer;
  font-family: 'Oswald', sans-serif;
}

/* line 1081, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.dropbtn:hover,
.dropbtn:hover + i {
  color: #1dcb8b;
}

/* line 1085, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.features p {
  font-weight: 500;
  padding-bottom: 6px;
}

/* line 1089, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.home_sub_heading {
  color: #414761;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

/* line 1097, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.pricing-content {
  padding: 55px 0;
  position: relative;
  background: url(../../img/home/bg-pricing-9faf7597379c14c143edbee62a5fae01bb44644b0e7181ac827eb7258f05dd56.jpg) center;
}

/* line 1102, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.pri-content {
  max-width: 34%;
  text-align: center;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  box-shadow: none;
  border-radius: 6px;
  border: 1px solid #d7d7d7;
  padding: 30px 15px 42px;
  position: relative;
  width: 29.5%;
  margin-right: 5.7%;
  margin-top: 0;
  background-color: #fff;
}

/* line 1117, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.pri-content:last-child {
  margin-right: 0;
}

/* line 1120, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.pri-content:hover {
  box-shadow: 0 0 32.2px 2.8px rgba(0, 0, 0, 0.13);
  transform: scale(1.1);
}

/* line 1124, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.pricing-content .container .row {
  display: flex;
}

/* line 1127, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.pricing-content .line-bottom {
  margin: 20px auto 0;
  background-color: #FF6700;
  width: 150px;
  height: 3px;
  display: flex;
}

/* line 1134, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.pricing-content .home_sub_heading {
  color: #fff;
}

/* line 1137, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.pricing-content .section-container {
  padding: 0 0 80px;
}

/* line 1140, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.pricing-content .title-pri {
  background-color: #25c16f;
  border-radius: 6px;
  margin-top: -60px;
  padding: 1px 0;
}

/* line 1146, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.pricing-content .title-pri p {
  font-size: 20px;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
}

/* line 1152, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.pricing-content .price {
  padding: 40px 0 20px;
  border-bottom: 1px solid #eee;
  margin-bottom: 25px;
}

/* line 1157, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.et_pb_et_price {
  display: block;
  line-height: 100%;
  margin-bottom: 5px;
}

/* line 1162, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.et_pb_dollar_sign {
  font-size: 20px;
  vertical-align: top;
  line-height: 130%;
  position: static;
  color: #333 !important;
}

/* line 1169, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.et_pb_sum {
  font-weight: 700;
  font-size: 40px;
  color: #333 !important;
  line-height: 100%;
}

/* line 1175, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.et_pb_years {
  font-size: 20px;
  font-weight: 600;
}

/* line 1179, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.et_pb_pricing_content {
  text-align: center;
  padding: 0 !important;
  position: relative;
  margin-bottom: 80px;
}

/* line 1185, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.et_pb_pricing {
  padding: 0 !important;
  line-height: inherit !important;
  list-style: none !important;
}

/* line 1190, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.et_pb_pricing li {
  line-height: 191%;
  list-style: none !important;
  padding-left: 31px;
  margin-bottom: 0;
  padding-bottom: 10px;
  position: relative;
  text-align: left;
  color: #a7a7a7 !important;
}

/* line 1200, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.et_pb_pricing li span {
  position: static;
}

/* line 1203, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.et_pb_pricing li span:before {
  content: "\f00c" !important;
  font-family: FontAwesome;
  display: inline-block;
  position: absolute;
  left: 0;
  font-size: 16px;
  border: none;
  top: 0;
}

/* line 1213, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.et_pb_button_wrapper {
  text-align: center;
  padding-right: 30px;
  padding-left: 30px;
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
}

/* line 1222, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.et_pb_pricing_table_button {
  padding: 7px 10px !important;
}

/* line 1225, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.et_pb_button {
  color: #fff !important;
  background: #25c16f;
  border-width: 1px !important;
  border-color: #636363;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 700 !important;
  text-transform: uppercase !important;
  background-color: #25c16f;
}

/* line 1236, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.et_pb_pricing_table_button {
  width: 100%;
  display: inline-block;
  position: relative;
  border: 2px solid;
  line-height: 1.7em !important;
  transition: all 0.2s;
}

/* line 1244, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.contact-us .line-bottom {
  margin: 20px auto 20px;
  background-color: #FF6700;
  width: 150px;
  height: 3px;
  display: flex;
}

/* line 1251, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.contact-us {
  padding: 30px 0 00;
  background: url(../../img/home/landing-background-bf9440874b98393098aa7972b95f95c119778fb38347db94093c3a49656c6d58.jpg) center;
}

/* line 1255, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.contact-us .info-contact-us {
  display: flex;
}

/* line 1258, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.contact-content .contact {
  margin: 15px 0;
  text-align: center;
}

/* line 1262, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.contact-content .contact h3 {
  margin-top: 0;
}

/* line 1265, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.contact i {
  font-size: 36px;
  color: #3333;
  margin-bottom: 20px;
}

/* line 1270, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.contact-us .section-container {
  padding: 0;
}

/* line 1273, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.form-send .row {
  display: block;
}

/* line 1276, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.contact-form-area form .form-control {
  margin-bottom: 30px;
  font-size: 14px;
  font-style: italic;
  height: 60px;
  border-bottom: 2px solid #c0c0c0;
  border-top: 0;
  border-left: 0;
  border-radius: 0;
  border-right: none;
  background-color: transparent;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  box-shadow: none;
}

/* line 1291, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.contact-form-area form textarea.form-control {
  height: 200px;
}

/* line 1294, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.contact-us .contact-content {
  width: 100%;
}

/* line 1297, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.studio-btn {
  background: #25c16fde;
  color: #FFF;
  display: inline-block;
  padding: 10px 35px;
  margin: 3px;
  border: 2px solid transparent;
  border-radius: 3px;
  -webkit-transition: 0.2s opacity;
  transition: 0.2s opacity;
  cursor: pointer;
}

/* line 1309, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.studio-btn:hover {
  color: #fff;
  text-decoration: none;
}

/* line 1314, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.contact-form-area form .form-control:focus {
  box-shadow: none;
  border-color: #1d1d1d;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  color: #495057;
  outline: 0;
}

/*Bele Add css for Login Page*/
/*modal term*/
/* line 1325, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.copyrights-nav a {
  cursor: pointer;
}


/* line 1339, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.animate {
  animation: zoom 0.6s;
}

/* line 1342, C:/Sites/bottest/app/assets/stylesheets/style.scss */


/* line 1350, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.btncontainer,
.imgcontainer {
  text-align: center;
  position: relative;
}

/* line 1355, C:/Sites/bottest/app/assets/stylesheets/style.scss */

/* line 1364, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.content-terms {
  margin: 20px;
  padding: 10px;
  border: 1px solid #33333369;
  background-color: #fff;
  overflow: auto;
  height: 520px;
  border-radius: 5px;
}

/* line 1373, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.content-terms h3 {
  text-transform: uppercase;
  font-size: 23px;
  font-weight: 600;
  text-align: center;
  margin-top: 0;
}

/* line 1380, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.content-terms h4 {
  font-size: 18px;
  font-weight: 600;
  margin-top: 0;
}

/* line 1385, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.content-terms p {
  margin-left: 20px;
  font-size: 14px;
}

/* line 1389, C:/Sites/bottest/app/assets/stylesheets/style.scss */
.col-center-block {
  margin: 0 auto;
  display: block;
  float: none;
}

.p-0{
	padding:0!important;
}
.w-full {
    width: 100%;
}
.p-b-30 {
    padding-bottom: 30px;
}
.flex-sb-m {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
}
.modal-body-radius {
    border-radius: 6px;
    overflow: hidden;
}

/*==================================================================
[ Restyle Checkbox ]*/

.input-checkbox100 {
  display: none;
}

.label-checkbox100 {
  font-size: 13px;
  color: #999999;
  line-height: 1.4;
  display: block;
  position: relative;
  padding-left: 26px;
  cursor: pointer;
  font-weight: 400;
  font-style: italic;
}

.label-checkbox100::before {
  content: "\f00c";
  font-family: FontAwesome;
  font-size: 11px;
  color: transparent;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 2px;
  background: #fff;
  border: 1px solid #e6e6e6;
  left: 0px;
  top: 8px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.input-checkbox100:checked + .label-checkbox100::before {
  color: #ffffff;
  background: #41c981;
  border-color: #41c981;
}
.text-left {
    text-align: left!important;
}
.text-center {
    text-align: center!important;
}

.form-control{ 
	border-radius: 0;
	box-shadow: none!important; 
}  
.formUser input.form-control{ 
	border: 0;
	border-bottom: 1px solid #ccc;
}
/* responsive home page */



@media screen and (max-width: 767px) {
  /* line 4, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .navbar-header {
    width: 100%;
  }

  /* line 7, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .header_mobile .panel_top,
  .header_mobile .side_wrap {
    background-color: #313030;
  }

  /* line 11, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .header_mobile .side_wrap {
    color: #ffffff;
    width: 100%;
    top: 52px;
    display: block;
    position: fixed;
    height: auto;
    bottom: 0;
    overflow: hidden;
    overflow-y: scroll;
    z-index: 10003;
    padding: 0;
    -webkit-transition: left 0.5s linear;
  }

  /* line 25, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .header_mobile .side_wrap {
    left: 100%;
  }

  /* line 28, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .side_wrap .menu_main_nav_area ul {
    list-style: none;
    padding: 0;
  }

  /* line 32, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .side_wrap .menu_main_nav_area ul .menu-item {
    border-bottom: 1px solid #fff;
    padding: 15px;
    display: block;
  }

  /* line 37, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .side_wrap .menu_main_nav_area ul .menu-item .sub-menu li:last-child {
    border-bottom: 0;
  }

  /* line 40, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .side_wrap .menu_main_nav_area ul .menu-item a {
    font-size: 14px;
    color: white;
    float: left;
    display: contents;
  }

  /* line 46, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .signup-menu-res {
    width: 100%;
    height: auto;
    display: flow-root;
    padding: 30px;
  }

  /* line 52, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .menu_main_nav_area ul .menu-item .open_child_menu {
    font-size: 40px;
    float: right;
    padding: 10px 20px;
  }

  /* line 57, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .navbar-collapse {
    display: none !important;
  }

  /* line 60, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .container .navbar-brand {
    display: flex;
    padding: 0;
    height: 50px;
  }

  /* line 65, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .navbar-note {
    padding-top: 10px;
  }

  /* line 71, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .home-page-banner .container {
    display: block;
    width: 100%;
  }

  /* line 81, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .home-banner_padding {
    display: none;
  }

  /* line 84, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .play-video {
    visibility: visible;
  }

  /* line 94, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .menu-bar-header i {
    color: #fff;
  }

  /* line 102, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .bt-logo-light {
    width: 250px;
    background-size: 250px 90px;
    height: 90px;
  }

  /* line 107, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .navbar-note {
    padding-top: 10px;
    font-size: 27px;
  }

  /* line 111, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .navbar-note::before {
    height: 25px;
  }

  /* line 114, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .navbar.navbar-default.navbar-fixed-top {
    min-height: auto;
    border: 0;
    border-bottom: 1px solid #fff;
  }

  /* line 119, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .information_notifier {
    top: 0;
    max-width: 100%;
  }

  /* line 123, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .notification {
    width: auto;
    font-size: 35px;
  }

  /* line 127, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .home-page-banner > .container > div > .banner-title {
    padding-top: 0;
    padding-right: 0 !important;
    font-size: 60px;
  }

  /* line 132, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .banner-heading,
  .home-page-banner > .container > div > .banner-heading {
    max-width: 100%;
    font-size: 35px;
  }

  /* line 137, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .home-page-banner > .container > div > p {
    display: flex;
  }

  /* line 143, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .demo_btn,
  .signup_oval_btn {
    font-size: 14px;
  }

  /* line 147, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .play-video {
    width: 40px;
    height: 40px;
  }

  /* line 151, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  p > .play-video:before {
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 16px solid #1dcb8b;
    left: 2px;
  }

  /* line 157, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .platform-container .container,
  .run-test-device .container,
  .why-choose .container {
    width: 100%;
    display: block !important;
  }

  /* line 167, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .product-details-respon .side-content .content-up {
    width: 80%;
    margin: 0 auto;
  }

  /* line 171, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .product-details-respon .side-content .content-up img {
    width: 150px;
  }

  /* line 180, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .content-chat-us .chat-content-side {
    padding: 35px 0;
  }

  /* line 186, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .content-chat-us .chat-content-side p {
    font-size: 14px;
    text-align: center;
  }

  /* line 197, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .right_divider img {
    width: 80px;
  }

  /* line 200, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .features p {
    font-size: 20px;
  }

  /* line 203, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .design-arrow:after {
    width: 20px;
    height: 20px;
    left: -9px;
  }

  /* line 208, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .platform-container .row {
    margin-top: 50px;
  }

  /* line 211, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .platform-container .platform-content-side {
    width: 100%;
  }

  /* line 214, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .platform-container .platform-content-side .feature-item {
    max-width: 80%;
  }

  /* line 217, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .platform-content-side .feature-item .title {
    font-size: 36px;
  }

  /* line 227, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .platform-content-side .feature-item .wrap-feature-icon .feature-icon i {
    line-height: 128px;
    font-size: 75px;
  }

  /* line 231, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .platform-content-side .feature-item .wrap-feature-icon .feature-icon .fa-cloud-download,
  .platform-content-side .feature-item .wrap-feature-icon .feature-icon .fa-globe {
    font-size: 55px !important;
  }

  /* line 235, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .platform-content-side .feature-item .wrap-feature-icon {
    width: 150px;
    height: 150px;
  }

  /* line 239, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .platform-content-side .feature-item .wrap-feature-icon .feature-icon {
    height: 128px;
    width: 128px;
  }

  /* line 243, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .info-footer .info-footer-content {
    width: 100%;
    text-align: center;
  }

  /* line 247, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .info-footer .info-footer-content .footer-nav-title {
    font-size: 22px;
  }

  /* line 256, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .footer-salessupport .footer-nav-title {
    text-align: center;
  }

  /* line 259, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .footer-nav.support-nav a {
    font-size: 20px;
    line-height: 40px;
    height: auto;
  }

  /* line 268, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .pricing-content {
    background: #333;
  }

  /* line 271, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .pricing-content .container {
    width: 100%;
  }

  /* line 274, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .pri-content {
    max-width: 50%;
    text-align: center;
    cursor: pointer;
    margin: auto;
    transition: all 0.4s ease-in-out;
    box-shadow: none !important;
    border-radius: 6px;
    border: 1px solid #d7d7d7;
    padding: 30px 30px 42px !important;
    position: relative;
    width: 50%;
    /* margin-right: 5.7% !important; */
    margin-top: 0 !important;
    background-color: #fff !important;
    margin-bottom: 110px;
  }

  /* line 291, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .pri-content:last-child {
    margin-bottom: 50px;
  }

  /* line 297, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .pricing-content .title-pri p {
    font-size: 30px;
  }

  /* line 300, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .pricing-content .title-pri {
    margin-top: -65px;
  }

  /* line 303, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .et_pb_pricing ul li {
    font-size: 25px;
  }

  /* line 306, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .et_pb_button {
    font-size: 25px;
  }

  /* line 309, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .et_pb_dollar_sign {
    font-size: 20px;
  }

  /* line 312, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .et_pb_sum {
    font-size: 50px;
  }

  /* line 315, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .et_pb_years {
    font-size: 30px;
  }

  /* line 318, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .pricing-content .container .row {
    display: block;
  }

  /* line 321, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .pri-content:last-child {
    margin-right: auto;
  }

  /* line 327, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .et_pb_pricing li span:before {
    font-size: 20px;
  }

  /* line 333, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .et_pb_pricing_table_button {
    padding: 4px 0px !important;
    width: 80%;
  }

  /* line 337, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .contact-us .container {
    width: 100%;
  }

  /* line 343, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .contact i {
    font-size: 60px;
  }

  /* line 349, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .contact-content .contact p {
    font-size: 30px;
  }

  /* line 352, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .contact-form-area form .form-control {
    font-size: 35px;
  }

  /* line 355, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .studio-btn {
    padding: 20px 45px;
    font-size: 35px;
  }

  /* line 359, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .login-form input.input-lg,
  .signup-form input.input-lg {
    font-size: 30px !important;
    box-shadow: none !important;
    height: 8rem !important;
  }

  /* line 365, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .login-form input.btn-lg,
  .signup-form input.btn-lg {
    font-size: 35px;
    padding: 30px 0;
    line-height: 0;
  }

  /* line 371, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .new_reset a {
    font-size: 25px;
  }

  /* line 374, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .bt-logo-light {
    width: 120px;
    background-size: 120px 90%;
    height: 90%;
    margin: auto 0;
  }

  /* line 380, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .navbar-note {
    padding-top: 0;
    font-size: 9px;
    line-height: 1.5em;
    display: flex;
    margin: auto 0;
  }

  /* line 387, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .col-midle-recod {
    float: left;
    display: flex;
    height: 100%;
  }

  /* line 392, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  button.menu-bar-header.navbar-toggle {
    border: 0;
    font-size: 20px;
    margin: 0 auto;
  }

  /* line 397, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .button.menu-bar-header.navbar-toggle:active, button.menu-bar-header.navbar-toggle:focus, button.menu-bar-header.navbar-toggle:hover {
    background: transparent;
  }

  /* line 400, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .home-page-banner .info-bot * {
    font-size: 16px;
  }

  /* line 403, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .home-page-banner .banner-title {
    font-size: 35px;
    letter-spacing: 1px;
  }

  /* line 407, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .home-page-banner .info-bot {
    margin-top: 0;
  }

  /* line 410, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .home-page-banner .info-bot p {
    display: flow-root;
  }

  /* line 413, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .home-page-banner {
    min-height: 50vh;
  }
}
@media screen and (max-width: 480px) {
  /* line 418, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .signup-menu-res {
    text-align: center;
  }

  /* line 421, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .signup_oval_btn {
    padding: 0px 45px;
  }

  /* line 424, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .navbar.navbar-default.navbar-fixed-top {
    min-height: auto;
  }

  /* line 427, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .home-page-banner .info-bot * {
    font-size: 16px;
  }

  /* line 430, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .home-page-banner .banner-title {
    font-size: 35px;
  }

  /* line 433, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .home-page-banner .info-bot {
    margin-top: 0;
  }

  /* line 436, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .home-page-banner .info-bot p {
    display: flow-root;
  }

  /* line 439, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .pri-content {
    max-width: 90%;
    width: 100%;
    padding: 20px !important;
  }
}
@media screen and (width: 768px) {
  /* line 449, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  button.menu-bar-header.navbar-toggle {
    display: block;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* line 457, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .header_mobile .panel_top,
  .header_mobile .side_wrap {
    background-color: #313030;
  }

  /* line 461, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .header_mobile .side_wrap {
    color: #ffffff;
    width: 100%;
    top: 52px;
    display: block;
    position: fixed;
    height: auto;
    bottom: 0;
    overflow: hidden;
    overflow-y: scroll;
    z-index: 10003;
    padding: 0;
    -webkit-transition: left 0.5s linear;
  }

  /* line 475, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .header_mobile .side_wrap {
    left: 100%;
  }

  /* line 478, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .side_wrap .menu_main_nav_area ul {
    list-style: none;
    padding: 0;
  }

  /* line 482, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .side_wrap .menu_main_nav_area ul .menu-item {
    border-bottom: 1px solid #fff;
    padding: 15px;
    display: block;
  }

  /* line 487, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .side_wrap .menu_main_nav_area ul .menu-item .sub-menu li:last-child {
    border-bottom: 0;
  }

  /* line 490, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .side_wrap .menu_main_nav_area ul .menu-item a {
    font-size: 14px;
    color: white;
    float: left;
    display: contents;
  }

  /* line 496, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .signup-menu-res {
    width: 100%;
    height: auto;
    display: flow-root;
    padding: 30px;
    text-align: center;
  }

  /* line 503, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .menu_main_nav_area ul .menu-item .open_child_menu {
    font-size: 40px;
    float: right;
    padding: 10px 20px;
  }

  /* line 508, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .navbar-collapse {
    display: none !important;
  }

  /* line 511, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .container .navbar-brand {
    display: flex;
    padding: 0;
    margin: auto 0;
  }

  /* line 516, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .navbar-note {
    padding-top: 10px;
  }

  /* line 522, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .home-page-banner .container {
    display: block;
    width: 100%;
  }

  /* line 529, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .home-page-banner .container {
    padding: 50px;
  }

  /* line 532, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .home-banner_padding {
    display: none;
  }

  /* line 535, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .play-video {
    visibility: visible;
  }

  /* line 545, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .menu-bar-header i {
    color: #fff;
  }

  /* line 553, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .bt-logo-light {
    width: 160px;
    background-size: 150px 50px;
    height: inherit;
    margin: auto 0;
  }

  /* line 559, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .navbar-note::before {
    height: 43px;
  }

  /* line 562, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .navbar-note {
    padding-top: 0;
    font-size: 14px;
    line-height: 1.5em;
    display: flex;
    margin: auto 0;
  }

  /* line 569, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .col-midle-recod {
    float: left;
    display: flex;
    height: 100%;
  }

  /* line 574, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  button.menu-bar-header.navbar-toggle {
    border: 0;
    font-size: 20px;
    margin: 8px auto;
  }

  /* line 579, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .button.menu-bar-header.navbar-toggle:active, button.menu-bar-header.navbar-toggle:focus, button.menu-bar-header.navbar-toggle:hover {
    background: transparent;
  }

  /* line 582, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .navbar.navbar-default.navbar-fixed-top {
    min-height: 60px;
  }

  /* line 585, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .col-midle-recod .navbar-brand {
    min-height: 60px;
  }

  /* line 588, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .information_notifier {
    top: 0;
    max-width: 100%;
  }

  /* line 592, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .notification {
    width: auto;
    font-size: 35px;
  }

  /* line 596, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .home-page-banner > .container > div > .banner-title {
    padding-top: 0;
    padding-right: 0 !important;
    font-size: 60px;
  }

  /* line 601, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .banner-heading,
  .home-page-banner > .container > div > .banner-heading {
    max-width: 100%;
    font-size: 35px;
  }

  /* line 606, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .home-page-banner > .container > div > p {
    display: flex;
  }

  /* line 609, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .home-page-banner .info-bot {
    margin: 140px 0 0;
  }

  /* line 612, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .demo_btn,
  .signup_oval_btn {
    font-size: 14px;
  }

  /* line 616, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .play-video {
    width: 40px;
    height: 40px;
    margin: auto 10px;
  }

  /* line 621, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  p > .play-video:before {
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 16px solid #1dcb8b;
    left: 2px;
  }

  /* line 627, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .platform-container .container,
  .run-test-device .container {
    width: 100%;
    display: block !important;
  }

  /* line 637, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .product-details-respon .side-content .content-up {
    width: 80%;
    margin: 0;
  }

  /* line 641, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .product-details-respon .side-content .content-up img {
    width: 100px;
  }

  /* line 650, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .content-chat-us .chat-content-side {
    padding: 35px 0;
  }

  /* line 656, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .content-chat-us .chat-content-side p {
    font-size: 14px;
    text-align: center;
  }

  /* line 667, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .right_divider img {
    width: 80px;
  }

  /* line 670, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .features p {
    font-size: 20px;
  }

  /* line 673, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .design-arrow:after {
    width: 20px;
    height: 20px;
    left: -9px;
  }

  /* line 678, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .platform-container .row {
    margin-top: 50px;
  }

  /* line 681, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .platform-container .platform-content-side {
    width: 100%;
  }

  /* line 684, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .platform-container .platform-content-side .feature-item {
    max-width: 80%;
  }

  /* line 687, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .platform-content-side .feature-item .title {
    font-size: 36px;
  }

  /* line 697, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .platform-content-side .feature-item .wrap-feature-icon .feature-icon i {
    line-height: 128px;
    font-size: 75px;
  }

  /* line 701, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .platform-content-side .feature-item .wrap-feature-icon .feature-icon .fa-cloud-download,
  .platform-content-side .feature-item .wrap-feature-icon .feature-icon .fa-globe {
    font-size: 55px !important;
  }

  /* line 705, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .platform-content-side .feature-item .wrap-feature-icon {
    width: 150px;
    height: 150px;
  }

  /* line 709, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .platform-content-side .feature-item .wrap-feature-icon .feature-icon {
    height: 128px;
    width: 128px;
  }

  /* line 713, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .info-footer .info-footer-content {
    width: 100%;
  }

  /* line 716, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .info-footer .info-footer-content .footer-nav-title {
    font-size: 22px;
  }

  /* line 719, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .info-footer .info-footer-content .footer-nav li a {
    font-size: 14px;
  }

  /* line 722, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .info-footer .info-footer-content .footer-nav li a i {
    font-size: 25px;
  }

  /* line 738, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .et_pb_pricing li span {
    font-size: 15px;
  }

  /* line 744, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .contact-content .contact h3 {
    font-size: 30px;
  }

  /* line 747, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .contact-content .contact p {
    font-size: 20px;
  }

  /* line 750, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .studio-btn {
    font-size: 25px;
  }

  /* line 753, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .pricing-content .container {
    width: 95%;
  }

  /* line 756, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .home-page-banner .info-bot * {
    font-size: 16px;
  }

  /* line 759, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .home-page-banner .banner-title {
    font-size: 35px;
  }

  /* line 762, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .home-page-banner .info-bot {
    margin-top: 0;
  }

  /* line 765, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .home-page-banner .info-bot p {
    display: flow-root;
  }

  /* line 768, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .home-page-banner {
    min-height: 50vh;
  }
}
@media screen and (min-width: 768px) and (max-width: 812px) {
  /* line 774, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .navbar-toggle {
    display: block;
  }

  /* line 777, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .navbar-header {
    width: 100%;
  }

  /* line 780, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  div#menu-bar {
    display: none !important;
  }
}
@media screen and (min-width: 812px) and (max-width: 1024px) {
  /* line 785, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .bt-logo-light {
    width: 160px;
    background-size: 150px 50px;
    height: inherit;
    margin: auto 0;
  }

  /* line 791, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .navbar-note {
    padding-top: 0;
    font-size: 10px;
  }

  /* line 795, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .navbar-note::before {
    height: 30px;
  }

  /* line 798, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  div#menu-bar ul, div#menu-bar ul li {
    display: flex;
  }

  /* line 801, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  div#menu-bar li a {
    padding: 10px;
    margin: auto 0;
  }

  /* line 805, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .info-bot {
    width: 100%;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1366px) {
  /* line 810, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .bt-logo-light {
    width: 160px;
    background-size: 150px 50px;
    height: inherit;
    margin: auto 0;
  }

  /* line 816, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .navbar-note {
    padding-top: 0;
    font-size: 10px;
  }

  /* line 820, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .navbar-note::before {
    height: 30px;
  }

  /* line 823, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  div#menu-bar ul, div#menu-bar ul li {
    display: flex;
  }

  /* line 826, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  div#menu-bar li a {
    padding: 10px;
    margin: auto 0;
  }

  /* line 830, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .col-midle-recod {
    float: left;
    display: flex;
    height: 100%;
  }

  /* line 835, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .container .navbar-brand {
    display: flex;
    padding: 0;
    margin: auto 0;
    min-height: 60px;
  }
}
@media only screen and (width: 1024px) {
  /* line 843, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  #videosNew {
    margin-top: 50px;
    width: 100%;
  }

  /* line 847, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .play-video {
    visibility: visible;
  }

  /* line 850, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .navbar-header {
    width: 40%;
  }

  /* line 856, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .home-page-banner .container {
    width: 970px;
    display: block;
  }

  /* line 860, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .info-bot {
    width: 100%;
  }

  /* line 863, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .banner_padding {
    display: none;
  }

  /* line 866, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .login-content .log-content {
    width: 100%;
  }
}
@media only screen and (width: 1440px) {
  /* line 871, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .home-page-banner .container {
    display: flex;
    width: 1400px;
  }

  /* line 875, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .content-terms {
    height: 390px;
  }
}
@media only screen and (width: 1400px) {
  /* line 880, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .home-page-banner .container {
    display: flex;
    width: 1380px;
  }

  /* line 884, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .content-terms {
    height: 500px;
  }
}
@media only screen and (width: 1366px) {
  /* line 889, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .home-page-banner .container {
    display: flex;
    width: 1330px;
  }

  /* line 893, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .banner_padding embed {
    height: 288px;
  }

  /* line 896, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .content-terms {
    height: 290px;
  }
}
@media only screen and (width: 1280px) {
  /* line 901, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .home-page-banner .container {
    display: flex;
    width: 1260px;
  }

  /* line 905, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .banner_padding embed {
    height: 332px;
  }

  /* line 908, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .content-terms {
    height: 480px;
  }
}
@media only screen and (width: 1152px) {
  /* line 913, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .home-page-banner .container {
    display: flex;
    width: 1120px;
  }

  /* line 917, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .banner_padding embed {
    height: 293px;
  }

  /* line 920, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .right_divider {
    border-right: 0;
  }

  /* line 923, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .content-terms {
    height: 360px;
  }
}
@media only screen and (width: 1680px) {
  /* line 928, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .content-terms {
    height: 500px;
  }
}
@media only screen and (width: 1600px) {
  /* line 933, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .content-terms {
    height: 390px;
  }
}
@media only screen and (width: 1360px) {
  /* line 938, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .content-terms {
    height: 290px;
  }
}
@media only screen and (min-width: 1360px) {
  /* line 943, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  #menu-bar > ul > li > button {
    margin-top: 25px;
    margin-left: 15px;
    margin-right: 10px;
  }

  /* line 948, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .col-midle-recod {
    display: flex;
  }

  /* line 951, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  .col-midle-recod .navbar-brand {
    padding: 0 15px;
    margin: auto 0;
    display: flex;
    height: 65px;
  }

  /* line 957, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  div#menu-bar ul, div#menu-bar ul li {
    display: flex;
  }

  /* line 960, C:/Sites/bottest/app/assets/stylesheets/styleResponsive.scss */
  div#menu-bar ul li a {
    margin: auto 0;
    padding: 15px;
  }
}

.w-100{
	width:100%;
}
.modal-header{
	border-bottom: 0;
    background: #41c981;
    border-radius: 6px 6px 0px 0;
    color:#ff;
}
.modal-header .modal-title{
	color:#fff;
}
.modal-footer{
	border: 0;
}
.modal-footer button{
	outline: none!important;
	box-shadow: none!important;
}
.body-container{
	position: relative;
}
.body-screen {
    background: #e2e2e2;
    width: 100%;
    position: relative;
    height: 100%;
    padding: 100px 0;
}
.center-screen{
	width: 650px;
	min-height: 400px;
	background-color: #fff;
	margin:auto;
	max-width: 100%;
	max-height: 100%;
	overflow: auto;
	padding: 1em 2em;
	display: block;
	padding-top: 0;
	overflow: hidden;
	margin-top: 50px;
}
.body-screen .center-screen .title{
	    font-weight: 600;
	    text-transform: uppercase;
	    background: #41c981;
	    margin: 0 -30px 20px -30px;
	    padding: 10px;
	    color: #fff;
}
.text-bold{
	font-weight: bold!important;
}
.info-footer-content {
    text-align: center;
}
.contact-us .home_sub_heading{
	font-size:25px;
}
.checkbox-requied.has-error label {
    padding-right: 30px;
}
.checkbox-requied.has-error .input-icon>i {
    margin-top: 0; 
}
.checkbox-requied.has-error .label-checkbox100::before{
    border: 1px solid #dd4b39; 
}
.required {
    color: #f90000;
}