.body-container{
height: 100%;
    position: absolute;
    top: 0;
    left: 0;
	width: 100%;

}
.bg-dote-animation{
	position: fixed;
	top:0;
	left:0;
}
.particle {
  position: absolute;
  border-radius: 50%;
}

@-webkit-keyframes particle-animation-1 {
  100% {
    -webkit-transform: translate3d(73vw, 49vh, 55px);
            transform: translate3d(73vw, 49vh, 55px);
  }
}

@keyframes particle-animation-1 {
  100% {
    -webkit-transform: translate3d(73vw, 49vh, 55px);
            transform: translate3d(73vw, 49vh, 55px);
  }
}
.particle:nth-child(1) {
  -webkit-animation: particle-animation-1 60s infinite;
          animation: particle-animation-1 60s infinite;
  opacity: 0.09;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
  -webkit-transform: translate3d(81vw, 10vh, 38px);
          transform: translate3d(81vw, 10vh, 38px);
  color: #d3d926;
}

@-webkit-keyframes particle-animation-2 {
  100% {
    -webkit-transform: translate3d(45vw, 53vh, 90px);
            transform: translate3d(45vw, 53vh, 90px);
  }
}

@keyframes particle-animation-2 {
  100% {
    -webkit-transform: translate3d(45vw, 53vh, 90px);
            transform: translate3d(45vw, 53vh, 90px);
  }
}
.particle:nth-child(2) {
  -webkit-animation: particle-animation-2 60s infinite;
          animation: particle-animation-2 60s infinite;
  opacity: 0.09;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
  -webkit-transform: translate3d(81vw, 67vh, 77px);
          transform: translate3d(81vw, 67vh, 77px);

}


@-webkit-keyframes particle-animation-3 {
  100% {
    -webkit-transform: translate3d(69vw, 71vh, 80px);
            transform: translate3d(69vw, 71vh, 80px);
  }
}

@keyframes particle-animation-3 {
  100% {
    -webkit-transform: translate3d(69vw, 71vh, 80px);
            transform: translate3d(69vw, 71vh, 80px);
  }
}
.particle:nth-child(3) {
  -webkit-animation: particle-animation-3 60s infinite;
          animation: particle-animation-3 60s infinite;
  opacity: 0.09;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
  -webkit-transform: translate3d(61vw, 8vh, 57px);
          transform: translate3d(61vw, 8vh, 57px);
  color: #d92647;
}

@-webkit-keyframes particle-animation-4 {
  100% {
    -webkit-transform: translate3d(85vw, 9vh, 98px);
            transform: translate3d(85vw, 9vh, 98px);
  }
}

@keyframes particle-animation-4 {
  100% {
    -webkit-transform: translate3d(85vw, 9vh, 98px);
            transform: translate3d(85vw, 9vh, 98px);
  }
}
.particle:nth-child(4) {
  -webkit-animation: particle-animation-4 60s infinite;
          animation: particle-animation-4 60s infinite;
  opacity: 0.49;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
  -webkit-transform: translate3d(16vw, 2vh, 10px);
          transform: translate3d(16vw, 2vh, 10px);
  color: #d96526;
}

@-webkit-keyframes particle-animation-5 {
  100% {
    -webkit-transform: translate3d(64vw, 32vh, 15px);
            transform: translate3d(64vw, 32vh, 15px);
  }
}

@keyframes particle-animation-5 {
  100% {
    -webkit-transform: translate3d(64vw, 32vh, 15px);
            transform: translate3d(64vw, 32vh, 15px);
  }
}
.particle:nth-child(5) {
  -webkit-animation: particle-animation-5 60s infinite;
          animation: particle-animation-5 60s infinite;
  opacity: 0.38;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  -webkit-transform: translate3d(53vw, 11vh, 93px);
          transform: translate3d(53vw, 11vh, 93px);
  color: #d9d026;
}

@-webkit-keyframes particle-animation-6 {
  100% {
    -webkit-transform: translate3d(29vw, 24vh, 6px);
            transform: translate3d(29vw, 24vh, 6px);
  }
}

@keyframes particle-animation-6 {
  100% {
    -webkit-transform: translate3d(29vw, 24vh, 6px);
            transform: translate3d(29vw, 24vh, 6px);
  }
}
.particle:nth-child(6) {
  -webkit-animation: particle-animation-6 60s infinite;
          animation: particle-animation-6 60s infinite;
  opacity: 0.21;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
  -webkit-transform: translate3d(74vw, 18vh, 18px);
          transform: translate3d(74vw, 18vh, 18px);
  color: #a326d9;
}

@-webkit-keyframes particle-animation-7 {
  100% {
    -webkit-transform: translate3d(72vw, 36vh, 47px);
            transform: translate3d(72vw, 36vh, 47px);
  }
}

@keyframes particle-animation-7 {
  100% {
    -webkit-transform: translate3d(72vw, 36vh, 47px);
            transform: translate3d(72vw, 36vh, 47px);
  }
}
.particle:nth-child(7) {
  -webkit-animation: particle-animation-7 60s infinite;
          animation: particle-animation-7 60s infinite;
  opacity: 0.71;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -1.4s;
          animation-delay: -1.4s;
  -webkit-transform: translate3d(44vw, 29vh, 23px);
          transform: translate3d(44vw, 29vh, 23px);
  color: #26d968;
}

@-webkit-keyframes particle-animation-8 {
  100% {
    -webkit-transform: translate3d(20vw, 24vh, 91px);
            transform: translate3d(20vw, 24vh, 91px);
  }
}

@keyframes particle-animation-8 {
  100% {
    -webkit-transform: translate3d(20vw, 24vh, 91px);
            transform: translate3d(20vw, 24vh, 91px);
  }
}
.particle:nth-child(8) {
  -webkit-animation: particle-animation-8 60s infinite;
          animation: particle-animation-8 60s infinite;
  opacity: 0.98;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -1.6s;
          animation-delay: -1.6s;
  -webkit-transform: translate3d(11vw, 30vh, 90px);
          transform: translate3d(11vw, 30vh, 90px);
  color: #26d991;
}

@-webkit-keyframes particle-animation-9 {
  100% {
    -webkit-transform: translate3d(14vw, 36vh, 5px);
            transform: translate3d(14vw, 36vh, 5px);
  }
}

@keyframes particle-animation-9 {
  100% {
    -webkit-transform: translate3d(14vw, 36vh, 5px);
            transform: translate3d(14vw, 36vh, 5px);
  }
}
.particle:nth-child(9) {
  -webkit-animation: particle-animation-9 60s infinite;
          animation: particle-animation-9 60s infinite;
  opacity: 0.84;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -1.8s;
          animation-delay: -1.8s;
  -webkit-transform: translate3d(18vw, 31vh, 6px);
          transform: translate3d(18vw, 31vh, 6px);
  color: #268ed9;
}

@-webkit-keyframes particle-animation-10 {
  100% {
    -webkit-transform: translate3d(11vw, 90vh, 79px);
            transform: translate3d(11vw, 90vh, 79px);
  }
}

@keyframes particle-animation-10 {
  100% {
    -webkit-transform: translate3d(11vw, 90vh, 79px);
            transform: translate3d(11vw, 90vh, 79px);
  }
}
.particle:nth-child(10) {
  -webkit-animation: particle-animation-10 60s infinite;
          animation: particle-animation-10 60s infinite;
  opacity: 0.94;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  -webkit-transform: translate3d(29vw, 72vh, 7px);
          transform: translate3d(29vw, 72vh, 7px);
  color: #be26d9;
}

@-webkit-keyframes particle-animation-11 {
  100% {
    -webkit-transform: translate3d(35vw, 39vh, 77px);
            transform: translate3d(35vw, 39vh, 77px);
  }
}

@keyframes particle-animation-11 {
  100% {
    -webkit-transform: translate3d(35vw, 39vh, 77px);
            transform: translate3d(35vw, 39vh, 77px);
  }
}
.particle:nth-child(11) {
  -webkit-animation: particle-animation-11 60s infinite;
          animation: particle-animation-11 60s infinite;
  opacity: 0.45;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -2.2s;
          animation-delay: -2.2s;
  -webkit-transform: translate3d(55vw, 16vh, 91px);
          transform: translate3d(55vw, 16vh, 91px);
  color: #d9c126;
}

@-webkit-keyframes particle-animation-12 {
  100% {
    -webkit-transform: translate3d(74vw, 22vh, 26px);
            transform: translate3d(74vw, 22vh, 26px);
  }
}

@keyframes particle-animation-12 {
  100% {
    -webkit-transform: translate3d(74vw, 22vh, 26px);
            transform: translate3d(74vw, 22vh, 26px);
  }
}
.particle:nth-child(12) {
  -webkit-animation: particle-animation-12 60s infinite;
          animation: particle-animation-12 60s infinite;
  opacity: 0.02;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -2.4s;
          animation-delay: -2.4s;
  -webkit-transform: translate3d(44vw, 45vh, 75px);
          transform: translate3d(44vw, 45vh, 75px);
  color: #26d977;
}

@-webkit-keyframes particle-animation-13 {
  100% {
    -webkit-transform: translate3d(51vw, 70vh, 4px);
            transform: translate3d(51vw, 70vh, 4px);
  }
}

@keyframes particle-animation-13 {
  100% {
    -webkit-transform: translate3d(51vw, 70vh, 4px);
            transform: translate3d(51vw, 70vh, 4px);
  }
}
.particle:nth-child(13) {
  -webkit-animation: particle-animation-13 60s infinite;
          animation: particle-animation-13 60s infinite;
  opacity: 0.57;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -2.6s;
          animation-delay: -2.6s;
  -webkit-transform: translate3d(86vw, 14vh, 93px);
          transform: translate3d(86vw, 14vh, 93px);
  color: #26d965;
}

@-webkit-keyframes particle-animation-14 {
  100% {
    -webkit-transform: translate3d(28vw, 27vh, 84px);
            transform: translate3d(28vw, 27vh, 84px);
  }
}

@keyframes particle-animation-14 {
  100% {
    -webkit-transform: translate3d(28vw, 27vh, 84px);
            transform: translate3d(28vw, 27vh, 84px);
  }
}
.particle:nth-child(14) {
  -webkit-animation: particle-animation-14 60s infinite;
          animation: particle-animation-14 60s infinite;
  opacity: 0.1;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -2.8s;
          animation-delay: -2.8s;
  -webkit-transform: translate3d(40vw, 58vh, 66px);
          transform: translate3d(40vw, 58vh, 66px);
  color: #26d9a0;
}

@-webkit-keyframes particle-animation-15 {
  100% {
    -webkit-transform: translate3d(37vw, 72vh, 95px);
            transform: translate3d(37vw, 72vh, 95px);
  }
}

@keyframes particle-animation-15 {
  100% {
    -webkit-transform: translate3d(37vw, 72vh, 95px);
            transform: translate3d(37vw, 72vh, 95px);
  }
}
.particle:nth-child(15) {
  -webkit-animation: particle-animation-15 60s infinite;
          animation: particle-animation-15 60s infinite;
  opacity: 0.33;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  -webkit-transform: translate3d(62vw, 81vh, 79px);
          transform: translate3d(62vw, 81vh, 79px);
  color: #267dd9;
}

@-webkit-keyframes particle-animation-16 {
  100% {
    -webkit-transform: translate3d(32vw, 21vh, 13px);
            transform: translate3d(32vw, 21vh, 13px);
  }
}

@keyframes particle-animation-16 {
  100% {
    -webkit-transform: translate3d(32vw, 21vh, 13px);
            transform: translate3d(32vw, 21vh, 13px);
  }
}
.particle:nth-child(16) {
  -webkit-animation: particle-animation-16 60s infinite;
          animation: particle-animation-16 60s infinite;
  opacity: 0.42;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -3.2s;
          animation-delay: -3.2s;
  -webkit-transform: translate3d(8vw, 44vh, 57px);
          transform: translate3d(8vw, 44vh, 57px);
  color: #7726d9;
}

@-webkit-keyframes particle-animation-17 {
  100% {
    -webkit-transform: translate3d(67vw, 22vh, 61px);
            transform: translate3d(67vw, 22vh, 61px);
  }
}

@keyframes particle-animation-17 {
  100% {
    -webkit-transform: translate3d(67vw, 22vh, 61px);
            transform: translate3d(67vw, 22vh, 61px);
  }
}
.particle:nth-child(17) {
  -webkit-animation: particle-animation-17 60s infinite;
          animation: particle-animation-17 60s infinite;
  opacity: 0.11;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -3.4s;
          animation-delay: -3.4s;
  -webkit-transform: translate3d(51vw, 74vh, 17px);
          transform: translate3d(51vw, 74vh, 17px);
  color: #a026d9;
}

@-webkit-keyframes particle-animation-18 {
  100% {
    -webkit-transform: translate3d(46vw, 74vh, 56px);
            transform: translate3d(46vw, 74vh, 56px);
  }
}

@keyframes particle-animation-18 {
  100% {
    -webkit-transform: translate3d(46vw, 74vh, 56px);
            transform: translate3d(46vw, 74vh, 56px);
  }
}
.particle:nth-child(18) {
  -webkit-animation: particle-animation-18 60s infinite;
          animation: particle-animation-18 60s infinite;
  opacity: 0.36;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -3.6s;
          animation-delay: -3.6s;
  -webkit-transform: translate3d(59vw, 10vh, 96px);
          transform: translate3d(59vw, 10vh, 96px);
  color: #8226d9;
}

@-webkit-keyframes particle-animation-19 {
  100% {
    -webkit-transform: translate3d(43vw, 68vh, 59px);
            transform: translate3d(43vw, 68vh, 59px);
  }
}

@keyframes particle-animation-19 {
  100% {
    -webkit-transform: translate3d(43vw, 68vh, 59px);
            transform: translate3d(43vw, 68vh, 59px);
  }
}
.particle:nth-child(19) {
  -webkit-animation: particle-animation-19 60s infinite;
          animation: particle-animation-19 60s infinite;
  opacity: 0.29;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -3.8s;
          animation-delay: -3.8s;
  -webkit-transform: translate3d(56vw, 83vh, 59px);
          transform: translate3d(56vw, 83vh, 59px);
  color: #269dd9;
}

@-webkit-keyframes particle-animation-20 {
  100% {
    -webkit-transform: translate3d(68vw, 8vh, 23px);
            transform: translate3d(68vw, 8vh, 23px);
  }
}

@keyframes particle-animation-20 {
  100% {
    -webkit-transform: translate3d(68vw, 8vh, 23px);
            transform: translate3d(68vw, 8vh, 23px);
  }
}
.particle:nth-child(20) {
  -webkit-animation: particle-animation-20 60s infinite;
          animation: particle-animation-20 60s infinite;
  opacity: 0.71;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  -webkit-transform: translate3d(2vw, 24vh, 16px);
          transform: translate3d(2vw, 24vh, 16px);
  color: #d97726;
}

@-webkit-keyframes particle-animation-21 {
  100% {
    -webkit-transform: translate3d(23vw, 89vh, 85px);
            transform: translate3d(23vw, 89vh, 85px);
  }
}

@keyframes particle-animation-21 {
  100% {
    -webkit-transform: translate3d(23vw, 89vh, 85px);
            transform: translate3d(23vw, 89vh, 85px);
  }
}
.particle:nth-child(21) {
  -webkit-animation: particle-animation-21 60s infinite;
          animation: particle-animation-21 60s infinite;
  opacity: 0.1;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -4.2s;
          animation-delay: -4.2s;
  -webkit-transform: translate3d(44vw, 54vh, 20px);
          transform: translate3d(44vw, 54vh, 20px);
  color: #d926bb;
}

@-webkit-keyframes particle-animation-22 {
  100% {
    -webkit-transform: translate3d(52vw, 23vh, 57px);
            transform: translate3d(52vw, 23vh, 57px);
  }
}

@keyframes particle-animation-22 {
  100% {
    -webkit-transform: translate3d(52vw, 23vh, 57px);
            transform: translate3d(52vw, 23vh, 57px);
  }
}
.particle:nth-child(22) {
  -webkit-animation: particle-animation-22 60s infinite;
          animation: particle-animation-22 60s infinite;
  opacity: 0.37;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -4.4s;
          animation-delay: -4.4s;
  -webkit-transform: translate3d(21vw, 43vh, 96px);
          transform: translate3d(21vw, 43vh, 96px);
  color: #d9269d;
}

@-webkit-keyframes particle-animation-23 {
  100% {
    -webkit-transform: translate3d(76vw, 49vh, 88px);
            transform: translate3d(76vw, 49vh, 88px);
  }
}

@keyframes particle-animation-23 {
  100% {
    -webkit-transform: translate3d(76vw, 49vh, 88px);
            transform: translate3d(76vw, 49vh, 88px);
  }
}
.particle:nth-child(23) {
  -webkit-animation: particle-animation-23 60s infinite;
          animation: particle-animation-23 60s infinite;
  opacity: 0.68;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -4.6s;
          animation-delay: -4.6s;
  -webkit-transform: translate3d(28vw, 53vh, 1px);
          transform: translate3d(28vw, 53vh, 1px);
  color: #d926c7;
}

@-webkit-keyframes particle-animation-24 {
  100% {
    -webkit-transform: translate3d(14vw, 59vh, 43px);
            transform: translate3d(14vw, 59vh, 43px);
  }
}

@keyframes particle-animation-24 {
  100% {
    -webkit-transform: translate3d(14vw, 59vh, 43px);
            transform: translate3d(14vw, 59vh, 43px);
  }
}
.particle:nth-child(24) {
  -webkit-animation: particle-animation-24 60s infinite;
          animation: particle-animation-24 60s infinite;
  opacity: 0.72;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -4.8s;
          animation-delay: -4.8s;
  -webkit-transform: translate3d(82vw, 20vh, 55px);
          transform: translate3d(82vw, 20vh, 55px);
  color: #80d926;
}

@-webkit-keyframes particle-animation-25 {
  100% {
    -webkit-transform: translate3d(78vw, 55vh, 47px);
            transform: translate3d(78vw, 55vh, 47px);
  }
}

@keyframes particle-animation-25 {
  100% {
    -webkit-transform: translate3d(78vw, 55vh, 47px);
            transform: translate3d(78vw, 55vh, 47px);
  }
}
.particle:nth-child(25) {
  -webkit-animation: particle-animation-25 60s infinite;
          animation: particle-animation-25 60s infinite;
  opacity: 0.86;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
  -webkit-transform: translate3d(89vw, 89vh, 76px);
          transform: translate3d(89vw, 89vh, 76px);
  color: #d92671;
}

@-webkit-keyframes particle-animation-26 {
  100% {
    -webkit-transform: translate3d(2vw, 45vh, 5px);
            transform: translate3d(2vw, 45vh, 5px);
  }
}

@keyframes particle-animation-26 {
  100% {
    -webkit-transform: translate3d(2vw, 45vh, 5px);
            transform: translate3d(2vw, 45vh, 5px);
  }
}
.particle:nth-child(26) {
  -webkit-animation: particle-animation-26 60s infinite;
          animation: particle-animation-26 60s infinite;
  opacity: 0.97;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -5.2s;
          animation-delay: -5.2s;
  -webkit-transform: translate3d(61vw, 82vh, 85px);
          transform: translate3d(61vw, 82vh, 85px);
  color: #26d97d;
}

@-webkit-keyframes particle-animation-27 {
  100% {
    -webkit-transform: translate3d(72vw, 58vh, 4px);
            transform: translate3d(72vw, 58vh, 4px);
  }
}

@keyframes particle-animation-27 {
  100% {
    -webkit-transform: translate3d(72vw, 58vh, 4px);
            transform: translate3d(72vw, 58vh, 4px);
  }
}
.particle:nth-child(27) {
  -webkit-animation: particle-animation-27 60s infinite;
          animation: particle-animation-27 60s infinite;
  opacity: 0.7;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -5.4s;
          animation-delay: -5.4s;
  -webkit-transform: translate3d(75vw, 46vh, 10px);
          transform: translate3d(75vw, 46vh, 10px);
  color: #d92926;
}

@-webkit-keyframes particle-animation-28 {
  100% {
    -webkit-transform: translate3d(28vw, 62vh, 57px);
            transform: translate3d(28vw, 62vh, 57px);
  }
}

@keyframes particle-animation-28 {
  100% {
    -webkit-transform: translate3d(28vw, 62vh, 57px);
            transform: translate3d(28vw, 62vh, 57px);
  }
}
.particle:nth-child(28) {
  -webkit-animation: particle-animation-28 60s infinite;
          animation: particle-animation-28 60s infinite;
  opacity: 0.6;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -5.6s;
          animation-delay: -5.6s;
  -webkit-transform: translate3d(47vw, 55vh, 44px);
          transform: translate3d(47vw, 55vh, 44px);
  color: #26d99a;
}

@-webkit-keyframes particle-animation-29 {
  100% {
    -webkit-transform: translate3d(42vw, 71vh, 71px);
            transform: translate3d(42vw, 71vh, 71px);
  }
}

@keyframes particle-animation-29 {
  100% {
    -webkit-transform: translate3d(42vw, 71vh, 71px);
            transform: translate3d(42vw, 71vh, 71px);
  }
}
.particle:nth-child(29) {
  -webkit-animation: particle-animation-29 60s infinite;
          animation: particle-animation-29 60s infinite;
  opacity: 0.85;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -5.8s;
          animation-delay: -5.8s;
  -webkit-transform: translate3d(5vw, 21vh, 54px);
          transform: translate3d(5vw, 21vh, 54px);
  color: #c1d926;
}

@-webkit-keyframes particle-animation-30 {
  100% {
    -webkit-transform: translate3d(30vw, 46vh, 87px);
            transform: translate3d(30vw, 46vh, 87px);
  }
}

@keyframes particle-animation-30 {
  100% {
    -webkit-transform: translate3d(30vw, 46vh, 87px);
            transform: translate3d(30vw, 46vh, 87px);
  }
}
.particle:nth-child(30) {
  -webkit-animation: particle-animation-30 10s infinite;
          animation: particle-animation-30 10s infinite;
  opacity: 0.17;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -6s;
          animation-delay: -6s;
  -webkit-transform: translate3d(39vw, 47vh, 89px);
          transform: translate3d(39vw, 47vh, 89px);
  color: #d9d326;
}

.center-screen {

padding: 0;

width: 100%;
}

.body-screen{
	z-index: 1;
	min-height: 100vh;
	background: transparent;
	padding: 0;
}
.col-backdrop{
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    padding: 0;
    background-image: url(../../img/bg-working.jpg);
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    padding: 3rem 0;
    height: 100%;
}
.col-backdrop .title-backdrop{
    position: relative;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.col-backdrop .title-backdrop:before{
	content: '';
    background: #fff;
    height: 5px;
    width: 30%;
    position: absolute;
    border-radius: 4px;
    bottom: -15px;
    margin: auto;
}
.body-screen .form-control{
	border:0;
	border-radius: 0;
	background: #f0f0f0;
	height: 45px;
	border-left: 5px solid #1dcb8b;
}
.body-screen .input-icon.right>i {
    top: 5px;
}
.body-screen .checkbox-requied .input-icon.right>i {
    right: -18px;
    top: -6px;
}
.checkbox-requied.has-error label {
    padding-right: 0px;
}
.body-screen .checkbox-requied.has-error .input-icon.right>i {
    right: -18px;
    top: 5px;
}
.text-sigup{
	position: absolute;
	bottom:10px;
}
.col-backdrop + div .input-icon.right{
	left:0;
}
.modal-body{
	padding:0;
}



@media screen and (max-width:768px) {
	.body-container{
		padding:15px;
		position: unset;
	}
	.col-backdrop{
		min-height: auto;
		padding:27px 15px;
	}
	.col-backdrop .logo-form img{
		width: 200px;
	}
	.col-backdrop .title-backdrop{
		font-size: 30px!important;
	}
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
	.body-screen{
		width: 80%;
		max-width: 80%;
		flex: 0 0 80%;
	}
}
@media only screen and (min-width: 992px) and (max-width: 1365px) {
	.body-screen{
		width: 80%;
		max-width: 80%;
		flex: 0 0 80%;
	}
	.col-backdrop{
		min-height: 50vh;
	}
}